* {
    margin: 0 auto;
    box-sizing: border-box;
  }

body {
    background-color: aqua;
}

.form {
    width: 500px;
  }

.form-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
  }

.add-product {
    display: inline-block;
    width: 12px;
    height: 12px;
    cursor: pointer;
    background-size: cover;
  }

.form-table {
    width: 100%;
    border: 1px solid;
    padding: 10px;
  }

.form-table td {
    padding: 5px 0;
  } 